<a href="https://colab.research.google.com/github/Ninkrn/BasicProg_Dataviz65/blob/main/Project_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#เชื่อม google drive 
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/gdrive/MyDrive/BPDV65/')

!pwd #เช็ค paht ที่กำลังทำงานอยู่

/content/gdrive/MyDrive/BPDV65

In [3]:
!ls

 iris.txt			   opendata_train_line.csv
 myunit.csv			   opendata_train_line.gsheet
 myunit.xlsx			   opendata_train_station.csv
'opendata_eating_score (1).csv'    opendata_train_station.gsheet
 opendata_eating_score_clean.csv   opendata_unittype_clean.csv
 opendata_eating_score.csv	   opendata_unittype.csv
 opendata_living_score_clean.csv   opendata_unittype.gsheet
 opendata_living_score.csv	   opendata_volume_listing_rent.csv
 opendata_project_clean.csv	   Residental_clean.csv
 opendata_project.csv		   Residental_clean.gsheet
 opendata_project.gsheet	   thai.json

# Data Cleaning

##opendata_project table

In [4]:
#open CSV file 
import pandas as pd

In [5]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)
#project_id=เป็นkeyของfile ,propertytype_id=

(23434, 45)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,10/6/2020 14:36,NaN,4/12/2020 10:32,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,30/10/2017 15:38,1/1/2013 7:00,4/12/2020 10:49,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,5/5/2022 16:43,NaN,5/5/2022 17:30,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...

In [6]:
opendata_project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [7]:
opendata_project = opendata_project[['row_number','project_id',  'name_en',  'propertytype_id',   #เลือกคอลัมน์ที่จะใช้
       'propertytype_name_en', 'price_min',
       'developer_id', 'developer_name_en',  'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
        'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security']]

In [21]:
opendata_project.head()

,row_number,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,1,Detached House,3790000,developer_10678,"Winning Asset Plus Co., Ltd.",13.570530,100.669356,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0
1,16689.0,project_11326,Gift Condominium,2,Condo,1100000,developer_7319,"Gift Asset Land Co.,Ltd.",13.033814,101.080739,...,NaN,77.0,2.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,3,Townhome,0,developer_10510,NaN,13.417402,101.090080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20719.0,project_2010,Baan Sansabai 1,1,Detached House,0,developer_10510,NaN,15.038042,102.143837,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,199.0,project_16838,Baanpruksa Ratchapruek-345,3,Townhome,1930000,developer_1026,"Preuksa Real Estate Co.,Ltd.",13.965246,100.483435,...,NaN,485.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0

### Missing/Null Checking

In [23]:
opendata_project.isnull().any()  #falseคือไม่มีค่าว่าง trueคือมีค่าว่าง

row_number                 True
project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
price_min                  True
developer_id              False
developer_name_en          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
dtype: bool

In [24]:
opendata_project.dtypes

row_number                float64
project_id                 object
name_en                    object
propertytype_id            object
propertytype_name_en       object
price_min                  object
developer_id               object
developer_name_en          object
latitude                  float64
longitude                 float64
neighborhood_id            object
neighborhood_name_en       object
subdistrict_id            float64
subdistrict_name_en        object
subdistrict_name_th        object
district_id               float64
district_name_en           object
district_name_th           object
province_id               float64
province_name_en           object
province_name_th           object
zipcode                   float64
count_elevator             object
count_elevator_service     object
count_floor                object
count_parking              object
count_unit                float64
count_unittype            float64
facility_clubhouse        float64
facility_fitness          float64
facility_meeting          float64
facility_park             float64
facility_playground       float64
facility_pool             float64
facility_security         float64
dtype: object

####  dropna

In [25]:
# ' price_min ' ราคาต่ำสุดโครงการ
print(len(opendata_project[opendata_project['price_min'].isnull()])) #we used dropna()
opendata_project = opendata_project.dropna(subset=['price_min'])

117

In [26]:
# ' longitude '
opendata_project[opendata_project['longitude'].isnull()]  #มี5rowsที่หายไปจึงตัดออก

,row_number,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
5839,NaN,ขนส่งปทุม,3656,บางโพธิ์เหนือ,3647,สามโคก,3599,Pathum Thani,12160.0,NaN,...,baania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8866,NaN,ขนส่งปทุม,3656,บางโพธิ์เหนือ,3647,สามโคก,3599,Pathum Thani,12160.0,NaN,...,baania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14130,NaN,ขนส่งปทุม,3611,บ้านฉาง,3600,เมืองปทุมธานี,3599,Pathum Thani,12000.0,NaN,...,baania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21895,NaN,ขนส่งปทุม,3634,คูบางหลวง,3630,ลาดหลุมแก้ว,3599,Pathum Thani,12140.0,NaN,...,baania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23353,NaN,ขนส่งปทุม,3656,บางโพธิ์เหนือ,3647,สามโคก,3599,Pathum Thani,12160.0,NaN,...,baania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
opendata_project = opendata_project.dropna(subset=['longitude'])

In [28]:
# 'subdistrict_id' รหัสตำบล
print(len(opendata_project[opendata_project['subdistrict_id'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['subdistrict_id'])

13

In [29]:
# 'zipcode' รหัสไปรษณีย์
print(len(opendata_project[opendata_project['zipcode'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['zipcode'])

21

####  fill Null with real world Knownlege

In [30]:
#fill NA with Text เลือกfillnaเนื่องจากค่าว่างของข้อมูลมีค่อนข้างเยอะ
opendata_project['developer_name_en'] = opendata_project['developer_name_en'].fillna('Unknown') #ชื่อบริษัท fillnaว่าunknown 
opendata_project['neighborhood_id'] = opendata_project['neighborhood_id'].fillna('Unknown') #รหัสย่าน 
opendata_project['neighborhood_name_en'] = opendata_project['neighborhood_name_en'].fillna('Unknown')

In [31]:
# จำนวนลิฟต์และชั้น
opendata_project[['count_floor', 'count_unit','count_unittype']]  = opendata_project[['count_floor', 'count_unit','count_unittype']].fillna(1) #จำนวนชั้นของตัวโครงการ, จำนวนยูนิตในโครงการ, จำนวนแบบ้านในโครงการ เพราะจำนวนชั้นเป็น0ไม่ได้อยู่แล้ว
opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']] = opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']].fillna(0) #บ้านหลังๆนึงอาจจะไม่มีแอร์ก็ได้จึงใส่0
# สิ่งอำนวยความสะดวก
opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']] = opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']].fillna(0) #สิ่งอำนวยความสะดวกจะมีหรือไม่มีก็ได้จึงใส่0

In [32]:
opendata_project.isnull().any()

row_number                False
project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
price_min                 False
developer_id              False
developer_name_en         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
dtype: bool

In [33]:
# save data
opendata_project.to_csv('opendata_project_clean_F1.csv', index=False)

##opendata_unittype table

In [8]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype.head(3)

(42625, 27)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,19/11/2021 18:00,19/11/2021 17:44,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,27/1/2022 14:30,27/1/2022 14:22,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14/1/2022 15:00,14/1/2022 14:40,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...

In [9]:
opendata_unittype.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype'],
      dtype='object')

In [34]:
opendata_unittype = opendata_unittype[['row_number','unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility']]
opendata_unittype.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,NaN,NaN,NaN,1.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,NaN,NaN,2.0,2.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,NaN,3.0,2.0,3.0,3.0,1.0,1.0,1.0,NaN,NaN,2.0,NaN

### Missing/Null Checking

In [35]:
opendata_unittype.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
dtype: bool

####  dropna

In [36]:
# # ' price_min ' ราคาต่ำสุดโครงการ
# print(len(opendata_unittype[opendata_unittype['price_min'].isnull()])) #we used dropna()
# opendata_unittype = opendata_unittype.dropna(subset=['price_min'])

####  fill Null with real world Knownlege

In [37]:
#fill NA with Text
opendata_unittype['name_th'] = opendata_unittype['name_th'].fillna('Unknown')

In [38]:
# จำนวนชั้นในบ้าน
opendata_unittype[['count_floor_internal']]  = opendata_unittype[['count_floor_internal']].fillna(1) 
# จำนวนห้อง, จำนวนลิฟต์, จำนวนแอร์
opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]]  = opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]].fillna(0)

In [39]:
opendata_unittype.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
count_airconditioner    False
count_elevator          False
count_floor_internal    False
count_parking           False
count_room_bath         False
count_room_bed          False
count_room_dinning      False
count_room_guest        False
count_room_kitchen      False
count_room_living       False
count_room_maid         False
count_room_storage      False
count_room_utility      False
dtype: bool

In [40]:
# save data
opendata_unittype.to_csv('opendata_unittype_clean_F1.csv', index=False)

##opendata_train station table

In [10]:
opendata_train_station = pd.read_csv('opendata_train_station.csv')
print(opendata_train_station.shape) 
opendata_train_station.head(3)

(318, 20)

,row_number,gid,line_no,railway,line_typt,line_type,status,line_th,line_en,station_th,station_en,latitude,longitude,prov_namt,prov_name,amp_namt,amp_name,tam_namt,tam_name,day
0,45,256,9,รถไฟฟ้า,เอ็มอาร์ทีเอ,MRT,อนาคต,สายสีเหลือง,Yellow Line,ศรีเทพา,Si Thepha,13.630859,100.620892,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,บางแก้ว,BANG KAEO,1/11/2022
1,29,216,8,รถไฟฟ้า,เอ็มอาร์ที,MRT,อนาคต,สายสีส้ม,Orange Line,น้อมเกล้า,Nom Klao,13.785996,100.689656,กรุงเทพมหานคร,BANGKOK,สะพานสูง,SAPHAN SUNG,สะพานสูง,SAPHAN SUNG,1/11/2022
2,109,232,8,รถไฟฟ้า,เอ็มอาร์ที,MRT,อนาคต,สายสีส้ม,Orange Line,ดินแดง,Din Daeng,13.768490,100.550541,กรุงเทพมหานคร,BANGKOK,พญาไท,PHAYA THAI,สามเสนใน,SAM SEN NAI,1/11/2022

In [11]:
opendata_train_station.columns

Index(['row_number', 'gid', 'line_no', 'railway', 'line_typt', 'line_type',
       'status', 'line_th', 'line_en', 'station_th', 'station_en', 'latitude',
       'longitude', 'prov_namt', 'prov_name', 'amp_namt', 'amp_name',
       'tam_namt', 'tam_name', 'day'],
      dtype='object')

In [41]:
opendata_train_station = opendata_train_station[['row_number', 'gid', 'line_no', 'railway', 'line_typt', 'line_type',
       'status', 'line_th', 'line_en', 'station_th', 'station_en', 'latitude',
       'longitude', 'prov_namt', 'prov_name', 'amp_namt', 'amp_name',
       'tam_namt', 'tam_name']]
opendata_train_station.head()

,row_number,gid,line_no,railway,line_typt,line_type,status,line_th,line_en,station_th,station_en,latitude,longitude,prov_namt,prov_name,amp_namt,amp_name,tam_namt,tam_name
0,45,256,9,รถไฟฟ้า,เอ็มอาร์ทีเอ,MRT,อนาคต,สายสีเหลือง,Yellow Line,ศรีเทพา,Si Thepha,13.630859,100.620892,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,บางแก้ว,BANG KAEO
1,29,216,8,รถไฟฟ้า,เอ็มอาร์ที,MRT,อนาคต,สายสีส้ม,Orange Line,น้อมเกล้า,Nom Klao,13.785996,100.689656,กรุงเทพมหานคร,BANGKOK,สะพานสูง,SAPHAN SUNG,สะพานสูง,SAPHAN SUNG
2,109,232,8,รถไฟฟ้า,เอ็มอาร์ที,MRT,อนาคต,สายสีส้ม,Orange Line,ดินแดง,Din Daeng,13.768490,100.550541,กรุงเทพมหานคร,BANGKOK,พญาไท,PHAYA THAI,สามเสนใน,SAM SEN NAI
3,176,219,8,รถไฟฟ้า,เอ็มอาร์ที,MRT,อนาคต,สายสีส้ม,Orange Line,เคหะรามคำแหง,Keha Ramkhamhaeng,13.804877,100.725687,กรุงเทพมหานคร,BANGKOK,คลองสามวา,KHLONG SAM WA,ทรายกองดินใต้,SAI KONG DIN TAI
4,55,152,5,รถไฟฟ้า,แอร์พอร์ต-เรล-ลิงค์,Airport-Rail-Link,ปัจจุบัน,แอร์พอร์ต เรล ลิงค์,Airport Rail Link,หัวหมาก,Hua Mak,13.738291,100.642239,กรุงเทพมหานคร,BANGKOK,สวนหลวง,PHATTHANAKAN,พัฒนาการ,SUAN LUANG

### Missing/Null Checking

In [49]:
opendata_train_station.isnull().any()

row_number    False
gid           False
line_no       False
railway       False
line_typt     False
line_type     False
status        False
line_th       False
line_en       False
station_th    False
station_en    False
latitude      False
longitude     False
prov_namt     False
prov_name     False
amp_namt      False
amp_name      False
tam_namt      False
tam_name      False
dtype: bool

In [50]:
# save data
opendata_train_station.to_csv('opendata_train_station_clean_F1.csv', index=False)

##opendata_train line table

In [12]:
opendata_train_line = pd.read_csv('opendata_train_line.csv')
print(opendata_train_line.shape) 
opendata_train_line.head(3)

(49, 6)

,row_number,name,area,status,geometry,day
0,22,สายสีน้ำตาล,แคราย-ลำสาลี,อนาคต,LINESTRING (100.5155029670176 13.8599801163895...,1/11/2022
1,16,สายสีเขียวอ่อน,ตลิ่งชัน - บางหว้า,อนาคต,LINESTRING (100.4402600000001 13.7892089999999...,1/11/2022
2,18,สายสีแดงเข้ม,มหาชัย - รางโพธิ์,อนาคต,LINESTRING (100.2609130546652 13.5609441473892...,1/11/2022

In [13]:
opendata_train_line.columns

Index(['row_number', 'name', 'area', 'status', 'geometry', 'day'], dtype='object')

In [48]:
opendata_train_line = opendata_train_line[['row_number', 'name', 'area', 'status', 'geometry']]
opendata_train_line.head()

,row_number,name,area,status,geometry
0,22,สายสีน้ำตาล,แคราย-ลำสาลี,อนาคต,LINESTRING (100.5155029670176 13.8599801163895...
1,16,สายสีเขียวอ่อน,ตลิ่งชัน - บางหว้า,อนาคต,LINESTRING (100.4402600000001 13.7892089999999...
2,18,สายสีแดงเข้ม,มหาชัย - รางโพธิ์,อนาคต,LINESTRING (100.2609130546652 13.5609441473892...
3,19,สายสีน้ำเงิน,บางซื่อ - เตาปูน - ท่าพระ,ปัจจุบัน,LINESTRING (100.4943425960887 13.7844907442280...
4,41,สายสีแดงอ่อน,มักกะสัน-หัวหมาก,อนาคต,"LINESTRING (100.643561 13.73794300000001, 100...."

In [47]:
opendata_train_line.shape

(49, 5)

### Missing/Null Checking

In [51]:
opendata_train_line.isnull().any()

row_number    False
name          False
area          False
status        False
geometry      False
dtype: bool

In [52]:
# save data
opendata_train_line.to_csv('opendata_train_line_clean_F1.csv', index=False)

#Merge Table

In [53]:
import pandas as pd
opendata_project_clean_F1 = pd.read_csv('opendata_project_clean_F1.csv') #ตารางหลัก
opendata_unittype_clean_F1 = pd.read_csv('opendata_unittype_clean_F1.csv') 
opendata_train_station_clean_F1 = pd.read_csv('opendata_train_station_clean_F1.csv')
opendata_train_line_clean_F1 = pd.read_csv('opendata_train_line_clean_F1.csv')

## 1.รวมตารางprojectกับunittype

In [54]:
opendata_project_clean_F1.columns

Index(['row_number', 'project_id', 'name_en', 'propertytype_id',
       'propertytype_name_en', 'price_min', 'developer_id',
       'developer_name_en', 'latitude', 'longitude', 'neighborhood_id',
       'neighborhood_name_en', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security'],
      dtype='object')

In [55]:
opendata_unittype_clean_F1.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility'],
      dtype='object')

In [56]:
# merge
table_merge = opendata_project_clean_F1.merge(opendata_unittype_clean_F1, how ='left', left_on='project_id',right_on='project_id') 
print(table_merge.shape)

(53480, 54)

In [57]:
table_merge.isnull().any()

row_number_x              False
project_id                False
name_en                   False
propertytype_id_x         False
propertytype_name_en_x    False
price_min                 False
developer_id              False
developer_name_en         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator_x          False
count_elevator_service    False
count_floor               False
count_parking_x           False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
row_number_y              False
unittype_id               False
name_th                   False
propertytype_id_y         False
propertytype_name_en_y    False
propertytype_name_th      False
count_airconditioner      False
count_elevator_y          False
count_floor_internal      False
count_parking_y           False
count_room_bath           False
count_room_bed            False
count_room_dinning        False
count_room_guest          False
count_room_kitchen        False
count_room_living         False
count_room_maid           False
count_room_storage        False
count_room_utility        False
dtype: bool

## 2.รวมตารางtrainstationกับtrainline

In [59]:
opendata_train_station_clean_F1.columns

Index(['row_number', 'gid', 'line_no', 'railway', 'line_typt', 'line_type',
       'status', 'line_th', 'line_en', 'station_th', 'station_en', 'latitude',
       'longitude', 'prov_namt', 'prov_name', 'amp_namt', 'amp_name',
       'tam_namt', 'tam_name'],
      dtype='object')

In [64]:
opendata_train_line_clean_F1.columns

Index(['row_number', 'name', 'area', 'status', 'geometry'], dtype='object')

In [65]:
table_merge1 = opendata_train_station_clean_F1.merge(opendata_train_line_clean_F1, how ='left', left_on='row_number',right_on='row_number') 
print(table_merge1.shape)

(318, 23)

#### Missing/Null Checking

In [66]:
table_merge1.isnull().any()

row_number    False
gid           False
line_no       False
railway       False
line_typt     False
line_type     False
status_x      False
line_th       False
line_en       False
station_th    False
station_en    False
latitude      False
longitude     False
prov_namt     False
prov_name     False
amp_namt      False
amp_name      False
tam_namt      False
tam_name      False
name           True
area           True
status_y       True
geometry       True
dtype: bool

In [68]:
# ' eating_daytime ' คะแนนการกิน ด้านราคา ช่วงกลางวัน เช็คว่ามีมิสซิ่งทั้งหมดเท่าไหร่
print(len(table_merge1[table_merge1['name'].isnull()]))

269

In [69]:
len(table_merge1) #ข้อมูลทั้งหมด

318

In [70]:
#we used fill Null with 0 เป็นศูนย์เพราะข้อมูลเยอะมากจะdropไปไม่ได้
table_merge1 = table_merge1.fillna(0)

In [71]:
table_merge1.isnull().any()

row_number    False
gid           False
line_no       False
railway       False
line_typt     False
line_type     False
status_x      False
line_th       False
line_en       False
station_th    False
station_en    False
latitude      False
longitude     False
prov_namt     False
prov_name     False
amp_namt      False
amp_name      False
tam_namt      False
tam_name      False
name          False
area          False
status_y      False
geometry      False
dtype: bool

## 3.รวมตาราง table_merge กับ table_merge1

In [72]:
table_merge.columns

Index(['row_number_x', 'project_id', 'name_en', 'propertytype_id_x',
       'propertytype_name_en_x', 'price_min', 'developer_id',
       'developer_name_en', 'latitude', 'longitude', 'neighborhood_id',
       'neighborhood_name_en', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator_x',
       'count_elevator_service', 'count_floor', 'count_parking_x',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'row_number_y', 'unittype_id', 'name_th', 'propertytype_id_y',
       'propertytype_name_en_y', 'propertytype_name_th',
       'count_airconditioner', 'count_elevator_y', 'count_floor_internal',
       'count_parking_y', 'count_room_bath', 'count_room_bed',
       'count_room_dinning', 'count_room_guest', 'count_room_kitchen',
       'count_room_living', 'count_room_maid', 'count_room_storage',
       'count_room_utility'],
      dtype='object')

In [73]:
table_merge1.columns

Index(['row_number', 'gid', 'line_no', 'railway', 'line_typt', 'line_type',
       'status_x', 'line_th', 'line_en', 'station_th', 'station_en',
       'latitude', 'longitude', 'prov_namt', 'prov_name', 'amp_namt',
       'amp_name', 'tam_namt', 'tam_name', 'name', 'area', 'status_y',
       'geometry'],
      dtype='object')

In [74]:
table_merge2 = table_merge.merge(table_merge1, how ='left', left_on='latitude',right_on='latitude') 
print(table_merge2.shape)

(53480, 76)

#### Missing/Null Checking

In [78]:
table_merge2.isnull().any()

row_number_x              False
project_id                False
name_en                   False
propertytype_id_x         False
propertytype_name_en_x    False
                          ...
tam_name                   True
name                       True
area                       True
status_y                   True
geometry                   True
Length: 76, dtype: bool

In [81]:
# ' eating_daytime ' คะแนนการกิน ด้านราคา ช่วงกลางวัน ถ้าลค่าว่างออกไปมันจะเหลือแค่ 18 จังหวัด
print(len(table_merge2[table_merge2['area'].isnull()]))

53475

In [82]:
len(table_merge2) #ข้อมูลทั้งหมด

53480

In [83]:
#we used fill Null 
table_merge2 = table_merge2.fillna(0)

In [84]:
table_merge2.isnull().any()

row_number_x              False
project_id                False
name_en                   False
propertytype_id_x         False
propertytype_name_en_x    False
                          ...
tam_name                  False
name                      False
area                      False
status_y                  False
geometry                  False
Length: 76, dtype: bool

In [85]:
table_merge2

,row_number_x,project_id,name_en,propertytype_id_x,propertytype_name_en_x,price_min,developer_id,developer_name_en,latitude,longitude_x,...,prov_namt,prov_name,amp_namt,amp_name,tam_namt,tam_name,name,area,status_y,geometry
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,1,Detached House,3790000,developer_10678,"Winning Asset Plus Co., Ltd.",13.570530,100.669356,...,0,0,0,0,0,0,0,0,0,0
1,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,1,Detached House,3790000,developer_10678,"Winning Asset Plus Co., Ltd.",13.570530,100.669356,...,0,0,0,0,0,0,0,0,0,0
2,16689.0,project_11326,Gift Condominium,2,Condo,1100000,developer_7319,"Gift Asset Land Co.,Ltd.",13.033814,101.080739,...,0,0,0,0,0,0,0,0,0,0
3,16689.0,project_11326,Gift Condominium,2,Condo,1100000,developer_7319,"Gift Asset Land Co.,Ltd.",13.033814,101.080739,...,0,0,0,0,0,0,0,0,0,0
4,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,3,Townhome,0,developer_10510,Unknown,13.417402,101.090080,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53475,5889.0,project_144,Koolpunt Ville 15 Park Avenue,1,Detached House,4000000,developer_1004,"Homeland Service Co., Ltd.",18.808447,99.058695,...,0,0,0,0,0,0,0,0,0,0
53476,5889.0,project_144,Koolpunt Ville 15 Park Avenue,1,Detached House,4000000,developer_1004,"Homeland Service Co., Ltd.",18.808447,99.058695,...,0,0,0,0,0,0,0,0,0,0
53477,5889.0,project_144,Koolpunt Ville 15 Park Avenue,1,Detached House,4000000,developer_1004,"Homeland Service Co., Ltd.",18.808447,99.058695,...,0,0,0,0,0,0,0,0,0,0
53478,5889.0,project_144,Koolpunt Ville 15 Park Avenue,1,Detached House,4000000,developer_1004,"Homeland Service Co., Ltd.",18.808447,99.058695,...,0,0,0,0,0,0,0,0,0,0
53479,5529.0,project_16300,Thawisuk Garden Home,1,Detached House,2800000,developer_10510,Unknown,12.684945,101.066167,...,0,0,0,0,0,0,0,0,0,0

In [86]:
# save data
table_merge2.to_csv('DataProject_clean.csv', index=False)