<a href="https://colab.research.google.com/github/Ninkrn/BasicProg_Dataviz65/blob/main/Project_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import pandas as pd

In [49]:
#เชื่อม google drive 
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [50]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/gdrive/MyDrive/Project/')

!pwd #เช็ค paht ที่กำลังทำงานอยู่

/content/gdrive/MyDrive/Project

In [51]:
!ls

 จำนวนนทท65.csv		   DataProject.csv	   project1_T1.csv   t3.csv
 ข้อมูลพื้นที่สีเขียว.csv	   DataProject.gsheet	   project1_T2.csv
'DataProject (1).csv'	   opendata_project.csv    project1_T3.csv
'DataProject (1).gsheet'   opendata_province.csv   project1_T4.csv

# Data Cleaning

## ตารางพื้นที่สีเขียวตามจังหวัด

In [52]:
t1 = pd.read_csv('ข้อมูลพื้นที่สีเขียว.csv')
t1

,จังหวัด,พื้นที่สีเขียวเพื่อการบริการสาธารณะ,พื้นที่สีเขียวเพื่ออรรถประโยชน์,พื้นที่สีเขียวริ้วยาวตามแนวสาธารณูปการ,พื้นที่สีเขียวเพื่อเศรษฐกิจชุมชน,พื้นที่สีเขียวธรรมชาติ,พื้นที่สีเขียวรอการพัฒนา
0,กระบี่,0.00,6.96,4.96,0.00,6.26,0.0
1,กาญจนบุรี,32.79,3.48,6.01,0.00,32.88,0.0
2,กาฬสินธุ์,11.23,1.45,9.60,0.00,41.33,0.0
3,กำแพงเพชร,98.62,4.10,2.20,2.85,4.02,0.0
4,ขอนแก่น,18.11,2.16,2.44,1.16,18.60,0.0
...,...,...,...,...,...,...,...
71,อำนาจเจริญ,12.37,1.39,4.73,0.00,11.00,0.0
72,อุดรธานี,29.84,3.44,3.20,0.44,18.65,0.0
73,อุตรดิตถ์,2.57,1.09,0.34,0.00,7.12,0.0
74,อุทัยธานี,47.65,1.64,2.53,1.01,7.10,0.0
75,อุบลราชธานี,14.05,1.44,0.92,0.00,12.29,0.0

In [53]:
t1.columns

Index(['จังหวัด', 'พื้นที่สีเขียวเพื่อการบริการสาธารณะ',
       'พื้นที่สีเขียวเพื่ออรรถประโยชน์',
       'พื้นที่สีเขียวริ้วยาวตามแนวสาธารณูปการ',
       'พื้นที่สีเขียวเพื่อเศรษฐกิจชุมชน', 'พื้นที่สีเขียวธรรมชาติ',
       'พื้นที่สีเขียวรอการพัฒนา'],
      dtype='object')

### Missing/Null Checking

In [54]:
t1.isnull().any()

จังหวัด                                   False
พื้นที่สีเขียวเพื่อการบริการสาธารณะ       False
พื้นที่สีเขียวเพื่ออรรถประโยชน์           False
พื้นที่สีเขียวริ้วยาวตามแนวสาธารณูปการ    False
พื้นที่สีเขียวเพื่อเศรษฐกิจชุมชน          False
พื้นที่สีเขียวธรรมชาติ                    False
พื้นที่สีเขียวรอการพัฒนา                  False
dtype: bool

In [55]:
# save data
t1.to_csv('project1_T1.csv', index=False)

## ตารางภูมิภาคกับจังหวัด

In [56]:
t2 = pd.read_csv('opendata_province.csv')
t2

,row_number,b_prov_id,b_prov_code,b_prov_name_en,b_prov_name_th,b_region_code,b_region_namt,geometry,day
0,22,5851,55,Nan,น่าน,3,เหนือ,MULTIPOLYGON(((100.894496287401 19.63439285647...,2022-11-01
1,35,4720,18,Chai Nat,ชัยนาท,2,กลาง,MULTIPOLYGON(((100.119853449448 15.41243176970...,2022-11-01
2,59,8249,85,Ranong,ระนอง,5,ใต้,MULTIPOLYGON(((98.3529362014787 9.440757652349...,2022-11-01
3,65,7787,49,Mukdahan,มุกดาหาร,4,ตะวันออกเฉียงเหนือ,MULTIPOLYGON(((104.252669379368 16.89274252537...,2022-11-01
4,7,8986,47,Sakon Nakhon,สกลนคร,4,ตะวันออกเฉียงเหนือ,MULTIPOLYGON(((103.540472715261 18.06769949677...,2022-11-01
...,...,...,...,...,...,...,...,...,...
72,9,9353,19,Saraburi,สระบุรี,2,กลาง,MULTIPOLYGON(((101.399387323774 15.07373052594...,2022-11-01
73,75,9315,75,Samut Songkhram,สมุทรสงคราม,2,กลาง,MULTIPOLYGON(((100.011625044814 13.51359362934...,2022-11-01
74,31,3667,73,Nakhon Pathom,นครปฐม,2,กลาง,MULTIPOLYGON(((100.28179041554 14.126880127963...,2022-11-01
75,23,4067,71,Kanchanaburi,กาญจนบุรี,2,กลาง,MULTIPOLYGON(((98.586314949231 15.654653446528...,2022-11-01
76,25,4423,22,Chanthaburi,จันทบุรี,2,กลาง,MULTIPOLYGON(((102.251664694695 12.28960250787...,2022-11-01

In [57]:
#select column
t2 = t2[['b_prov_name_th','b_region_namt']]
t2

   b_prov_name_th       b_region_namt
0            น่าน               เหนือ
1          ชัยนาท                กลาง
2           ระนอง                 ใต้
3        มุกดาหาร  ตะวันออกเฉียงเหนือ
4          สกลนคร  ตะวันออกเฉียงเหนือ
..            ...                 ...
72        สระบุรี                กลาง
73    สมุทรสงคราม                กลาง
74         นครปฐม                กลาง
75      กาญจนบุรี                กลาง
76       จันทบุรี                กลาง

[77 rows x 2 columns]

### Missing/Null Checking

In [58]:
t2.isnull().any()

b_prov_name_th    False
b_region_namt     False
dtype: bool

In [59]:
# save data
t2.to_csv('project1_T2.csv', index=False)

## ตารางราคาที่อยู่อาศัยเฉลี่ย

In [60]:
t3 = pd.read_csv('opendata_project.csv')
t3

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,พหลโยธิน ปาร์ค คอนโดมิเนียม,2,Condo,คอนโด,3650000,developer_10510,NaN,...,1.0,1.0,NaN,1.0,27/2/2017 16:46,31/12/2003 7:00,12/3/2021 12:30,baania,https://baania.com/th/project/พหลโยธิน-ปาร์ค-ค...,30/9/2022
1,20964.0,project_15158,The Chill Village,เดอะ ชิลล์ วิลเลจ,3,Townhome,ทาวน์โฮม,2450000,developer_10510,NaN,...,NaN,NaN,NaN,NaN,9/1/2019 10:01,2/1/1970 7:00,4/12/2020 10:34,baania,https://baania.com/th/project/เดอะ-ชิลล์-วิลเล...,30/9/2022
2,21086.0,project_9490,Diya Valley Sriracha,ดีญ่า วาเล่ย์ ศรีราชา,1,Detached House,บ้าน,2390000,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,6/9/2017 13:01,2/1/1970 7:00,4/12/2020 10:36,baania,https://baania.com/th/project/ดีญ่า-วาเล่ย์-ศร...,30/9/2022
3,10281.0,project_13601,Baan Rungrawe,บ้านรุ่งระวี,1,Detached House,บ้าน,2750000,developer_10510,NaN,...,NaN,NaN,NaN,NaN,29/5/2018 16:39,2/1/1970 7:00,4/12/2020 10:38,baania,https://baania.com/th/project/บ้านรุ่งระวี-pro...,30/9/2022
4,6023.0,project_12398,Town Plus Ladprao 101,ทาวน์พลัส ลาดพร้าว 101,3,Townhome,ทาวน์โฮม,4600000,developer_2417,"PLUS PROPERTY CO., LTD.",...,1.0,1.0,NaN,1.0,8/12/2017 10:34,2/1/1970 7:00,13/7/2021 11:30,baania,https://baania.com/th/project/ทาวน์พลัส-ลาดพร้...,30/9/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23908,17054.0,62c6a9accb0d2c0014be0afa,Kave Town Colony,เคฟ ทาวน์ โคโลนี,2,Condo,คอนโด,1390000,developer_1789,"Asset Wise Pub Co., Ltd.",...,1.0,NaN,1.0,1.0,7/7/2022 16:38,NaN,7/7/2022 17:30,baania,https://baania.com/th/project/เคฟ-ทาวน์-โคโลนี...,30/9/2022
23909,19707.0,project_780,Baan Chat Amorn,บ้านฉัตรอมร,1,Detached House,บ้าน,1400000,developer_10510,NaN,...,NaN,NaN,NaN,NaN,28/10/2015 16:18,2/1/1970 7:00,4/12/2020 10:44,baania,https://baania.com/th/project/บ้านฉัตรอมร-proj...,30/9/2022
23910,20517.0,625f8ce8f18e1c0013e80bd9,Kitchaya Home @Kravon,กิตชญาโฮม @กระวน,1,Detached House,บ้าน,1790000,developer_10510,NaN,...,NaN,NaN,NaN,NaN,20/4/2022 11:32,1/1/2021 7:00,20/4/2022 12:30,baania,https://baania.com/th/project/กิตชญาโฮม-กระวน-...,30/9/2022
23911,1356.0,project_3718,Passorn Prestige Rangsit-Klong 2,ภัสสร เพรสทีจ รังสิต-คลอง 2,1,Detached House,บ้าน,3790000,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,1.0,1.0,1.0,1.0,31/1/2017 16:06,31/12/2017 7:00,19/4/2021 17:00,baania,https://baania.com/th/project/ภัสสร-เพรสทีจ-รั...,30/9/2022
23912,2095.0,project_7949,The Tropical Condominium,เดอะ ทรอปิคอล คอนโดมิเนียม,2,Condo,คอนโด,999000,developer_5477,NaN,...,1.0,NaN,1.0,1.0,22/6/2017 14:49,28/2/2010 7:00,4/12/2020 10:41,baania,https://baania.com/th/project/เดอะ-ทรอปิคอล-คอ...,30/9/2022

In [61]:
t3.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project',
       'day'],
      dtype='object')

In [62]:
#select columns
t3 = t3[['price_min','province_name_th']]
t3

      price_min province_name_th
0       3650000    กรุงเทพมหานคร
1       2450000        มหาสารคาม
2       2390000           ชลบุรี
3       2750000           ภูเก็ต
4       4600000    กรุงเทพมหานคร
...         ...              ...
23908   1390000         ปทุมธานี
23909   1400000        เชียงใหม่
23910   1790000          ขอนแก่น
23911   3790000         ปทุมธานี
23912    999000    กรุงเทพมหานคร

[23913 rows x 2 columns]

In [63]:
t3.to_csv('t3.csv')

  - ราคาโครงการเฉลี่ย ในแต่ละจังหวัด

In [64]:
t3.dtypes  #เช็ค type ของข้อมูล

price_min           object
province_name_th    object
dtype: object

In [65]:
t3=t3.sort_values('price_min')  #sort values 'price min' เรียงจากน้อยไปมาก

In [66]:
t3=t3.dropna()

In [67]:
t3['price_min'] = pd.to_numeric(t3['price_min'], errors='coerce')

In [47]:
t3.price_min.astype(str).str.replace('\D', '')  #เปลี่ยนข้อมูลเป็นstring

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0                00
1                00
2                00
3                00
4                00
            ...
23787    1400000000
23788    1400000000
23789    2450000000
23790    2800000000
23791    2850000000
Name: price_min, Length: 23792, dtype: object

In [68]:
t3 = t3.dropna(subset=['price_min']).reset_index()
t3

       index  price_min province_name_th
0      17793        0.0       นครราชสีมา
1      15629        0.0         เพชรบุรี
2       1618        0.0       นครราชสีมา
3      10809        0.0       นครราชสีมา
4      10820        0.0    กรุงเทพมหานคร
...      ...        ...              ...
23787   2561   999999.0        เชียงใหม่
23788  18107   999999.0         พิษณุโลก
23789  10236   999999.0          ปัตตานี
23790  17586   999999.0    กรุงเทพมหานคร
23791   6170   999999.0        มหาสารคาม

[23792 rows x 3 columns]

In [69]:
pricemean = t3.groupby('province_name_th')['price_min'].mean().reset_index()
pricemean

   province_name_th     price_min
0            กระบี่  3.670667e+06
1     กรุงเทพมหานคร  5.710298e+06
2         กาญจนบุรี  2.315119e+06
3         กาฬสินธุ์  1.883500e+06
4         กำแพงเพชร  1.930000e+06
..              ...           ...
67         เพชรบุรี  3.329316e+06
68        เพชรบูรณ์  1.730000e+06
69              เลย  2.530000e+06
70             แพร่  1.921250e+06
71       แม่ฮ่องสอน  1.850000e+06

[72 rows x 2 columns]

### Missing/Null Checking

In [70]:
pricemean.isnull().any()

province_name_th    False
price_min           False
dtype: bool

In [71]:
# save data
pricemean.to_csv('project1_T3.csv', index=False)

## ตารางจำนวนนักท่องเที่ยวที่มาเยี่ยมชมในแต่ละจังหวัดปี 2565

In [72]:
t4 = pd.read_csv('จำนวนนทท65.csv')
t4

                  จังหวัด จำนวนผู้เยี่ยมเยือนทั้งหมดปี 2565 (คน)
0           กรุงเทพมหานคร                             26,401,150
1                  ลพบุรี                              3,102,619
2         พระนครศรีอยุธยา                              5,624,651
3                 สระบุรี                              2,833,922
4                  ชัยนาท                                578,974
..                    ...                                    ...
79                  ยโสธร                               322,403
80             อำนาจเจริญ                               159,419
81            หนองบัวลำภู                               194,417
82  ภาคตะวันออกเฉียงเหนือ                            23,155,153
83             รวมทั้งหมด                           154,686,305

[84 rows x 2 columns]

### Missing/Null Checking

In [73]:
t4.isnull().any()

จังหวัด                                   False
จำนวนผู้เยี่ยมเยือนทั้งหมดปี 2565 (คน)    False
dtype: bool

In [74]:
# save data
t4.to_csv('project1_T4.csv', index=False)

# Merge Table

## merge t1 กับ t2

In [75]:
table12 = t2.merge(t1,left_on='b_prov_name_th',right_on='จังหวัด')
table12

,b_prov_name_th,b_region_namt,จังหวัด,พื้นที่สีเขียวเพื่อการบริการสาธารณะ,พื้นที่สีเขียวเพื่ออรรถประโยชน์,พื้นที่สีเขียวริ้วยาวตามแนวสาธารณูปการ,พื้นที่สีเขียวเพื่อเศรษฐกิจชุมชน,พื้นที่สีเขียวธรรมชาติ,พื้นที่สีเขียวรอการพัฒนา
0,น่าน,เหนือ,น่าน,3.44,1.40,1.02,0.00,6.11,0.0
1,ชัยนาท,กลาง,ชัยนาท,37.28,2.13,4.11,0.00,5.87,0.0
2,ระนอง,ใต้,ระนอง,485.55,5.08,1.86,0.00,2.98,0.0
3,มุกดาหาร,ตะวันออกเฉียงเหนือ,มุกดาหาร,2.56,2.07,3.28,1.66,13.41,0.0
4,สกลนคร,ตะวันออกเฉียงเหนือ,สกลนคร,33.97,2.12,2.37,0.24,24.05,0.0
...,...,...,...,...,...,...,...,...,...
71,สระบุรี,กลาง,สระบุรี,36.07,1.83,4.61,3.61,14.34,0.0
72,สมุทรสงคราม,กลาง,สมุทรสงคราม,0.00,0.78,2.08,0.00,5.06,0.0
73,นครปฐม,กลาง,นครปฐม,2.62,1.46,0.33,0.04,22.66,0.0
74,กาญจนบุรี,กลาง,กาญจนบุรี,32.79,3.48,6.01,0.00,32.88,0.0
75,จันทบุรี,กลาง,จันทบุรี,50.08,1.85,2.77,0.00,22.95,0.0

In [76]:
table12.isnull().any()

b_prov_name_th                            False
b_region_namt                             False
จังหวัด                                   False
พื้นที่สีเขียวเพื่อการบริการสาธารณะ       False
พื้นที่สีเขียวเพื่ออรรถประโยชน์           False
พื้นที่สีเขียวริ้วยาวตามแนวสาธารณูปการ    False
พื้นที่สีเขียวเพื่อเศรษฐกิจชุมชน          False
พื้นที่สีเขียวธรรมชาติ                    False
พื้นที่สีเขียวรอการพัฒนา                  False
dtype: bool

## merge t12 กับ t3

In [77]:
table123 = table12.merge(pricemean,left_on='b_prov_name_th',right_on='province_name_th')
table123

,b_prov_name_th,b_region_namt,จังหวัด,พื้นที่สีเขียวเพื่อการบริการสาธารณะ,พื้นที่สีเขียวเพื่ออรรถประโยชน์,พื้นที่สีเขียวริ้วยาวตามแนวสาธารณูปการ,พื้นที่สีเขียวเพื่อเศรษฐกิจชุมชน,พื้นที่สีเขียวธรรมชาติ,พื้นที่สีเขียวรอการพัฒนา,province_name_th,price_min
0,น่าน,เหนือ,น่าน,3.44,1.40,1.02,0.00,6.11,0.0,น่าน,2.239630e+06
1,ระนอง,ใต้,ระนอง,485.55,5.08,1.86,0.00,2.98,0.0,ระนอง,2.790000e+06
2,มุกดาหาร,ตะวันออกเฉียงเหนือ,มุกดาหาร,2.56,2.07,3.28,1.66,13.41,0.0,มุกดาหาร,1.955000e+06
3,สกลนคร,ตะวันออกเฉียงเหนือ,สกลนคร,33.97,2.12,2.37,0.24,24.05,0.0,สกลนคร,1.684882e+06
4,กำแพงเพชร,เหนือ,กำแพงเพชร,98.62,4.10,2.20,2.85,4.02,0.0,กำแพงเพชร,1.930000e+06
...,...,...,...,...,...,...,...,...,...,...,...
66,สระบุรี,กลาง,สระบุรี,36.07,1.83,4.61,3.61,14.34,0.0,สระบุรี,2.354306e+06
67,สมุทรสงคราม,กลาง,สมุทรสงคราม,0.00,0.78,2.08,0.00,5.06,0.0,สมุทรสงคราม,1.419476e+06
68,นครปฐม,กลาง,นครปฐม,2.62,1.46,0.33,0.04,22.66,0.0,นครปฐม,2.536374e+06
69,กาญจนบุรี,กลาง,กาญจนบุรี,32.79,3.48,6.01,0.00,32.88,0.0,กาญจนบุรี,2.315119e+06
70,จันทบุรี,กลาง,จันทบุรี,50.08,1.85,2.77,0.00,22.95,0.0,จันทบุรี,2.340000e+06

In [78]:
table123.isnull().any()

b_prov_name_th                            False
b_region_namt                             False
จังหวัด                                   False
พื้นที่สีเขียวเพื่อการบริการสาธารณะ       False
พื้นที่สีเขียวเพื่ออรรถประโยชน์           False
พื้นที่สีเขียวริ้วยาวตามแนวสาธารณูปการ    False
พื้นที่สีเขียวเพื่อเศรษฐกิจชุมชน          False
พื้นที่สีเขียวธรรมชาติ                    False
พื้นที่สีเขียวรอการพัฒนา                  False
province_name_th                          False
price_min                                 False
dtype: bool

## merge t123 กับ t4

In [79]:
table1234 = table123.merge(t4,left_on='จังหวัด',right_on='จังหวัด')
table1234

,b_prov_name_th,b_region_namt,จังหวัด,พื้นที่สีเขียวเพื่อการบริการสาธารณะ,พื้นที่สีเขียวเพื่ออรรถประโยชน์,พื้นที่สีเขียวริ้วยาวตามแนวสาธารณูปการ,พื้นที่สีเขียวเพื่อเศรษฐกิจชุมชน,พื้นที่สีเขียวธรรมชาติ,พื้นที่สีเขียวรอการพัฒนา,province_name_th,price_min,จำนวนผู้เยี่ยมเยือนทั้งหมดปี 2565 (คน)
0,น่าน,เหนือ,น่าน,3.44,1.40,1.02,0.00,6.11,0.0,น่าน,2.239630e+06,"937,909"
1,ระนอง,ใต้,ระนอง,485.55,5.08,1.86,0.00,2.98,0.0,ระนอง,2.790000e+06,"347,341"
2,มุกดาหาร,ตะวันออกเฉียงเหนือ,มุกดาหาร,2.56,2.07,3.28,1.66,13.41,0.0,มุกดาหาร,1.955000e+06,"1,162,148"
3,สกลนคร,ตะวันออกเฉียงเหนือ,สกลนคร,33.97,2.12,2.37,0.24,24.05,0.0,สกลนคร,1.684882e+06,"1,130,822"
4,กำแพงเพชร,เหนือ,กำแพงเพชร,98.62,4.10,2.20,2.85,4.02,0.0,กำแพงเพชร,1.930000e+06,"565,913"
...,...,...,...,...,...,...,...,...,...,...,...,...
66,สระบุรี,กลาง,สระบุรี,36.07,1.83,4.61,3.61,14.34,0.0,สระบุรี,2.354306e+06,"2,833,922"
67,สมุทรสงคราม,กลาง,สมุทรสงคราม,0.00,0.78,2.08,0.00,5.06,0.0,สมุทรสงคราม,1.419476e+06,"3,134,191"
68,นครปฐม,กลาง,นครปฐม,2.62,1.46,0.33,0.04,22.66,0.0,นครปฐม,2.536374e+06,"2,104,471"
69,กาญจนบุรี,กลาง,กาญจนบุรี,32.79,3.48,6.01,0.00,32.88,0.0,กาญจนบุรี,2.315119e+06,"8,354,590"
70,จันทบุรี,กลาง,จันทบุรี,50.08,1.85,2.77,0.00,22.95,0.0,จันทบุรี,2.340000e+06,"998,545"

In [80]:
table1234.columns

Index(['b_prov_name_th', 'b_region_namt', 'จังหวัด',
       'พื้นที่สีเขียวเพื่อการบริการสาธารณะ',
       'พื้นที่สีเขียวเพื่ออรรถประโยชน์',
       'พื้นที่สีเขียวริ้วยาวตามแนวสาธารณูปการ',
       'พื้นที่สีเขียวเพื่อเศรษฐกิจชุมชน', 'พื้นที่สีเขียวธรรมชาติ',
       'พื้นที่สีเขียวรอการพัฒนา', 'province_name_th', 'price_min',
       'จำนวนผู้เยี่ยมเยือนทั้งหมดปี 2565 (คน)'],
      dtype='object')

In [81]:
table1234 = table1234[[ 'b_region_namt', 'จังหวัด',
       'พื้นที่สีเขียวเพื่อการบริการสาธารณะ',
       'พื้นที่สีเขียวเพื่ออรรถประโยชน์',
       'พื้นที่สีเขียวริ้วยาวตามแนวสาธารณูปการ',
       'พื้นที่สีเขียวเพื่อเศรษฐกิจชุมชน', 'พื้นที่สีเขียวธรรมชาติ',
       'พื้นที่สีเขียวรอการพัฒนา', 'price_min',
       'จำนวนผู้เยี่ยมเยือนทั้งหมดปี 2565 (คน)']]

In [82]:
table1234

,b_region_namt,จังหวัด,พื้นที่สีเขียวเพื่อการบริการสาธารณะ,พื้นที่สีเขียวเพื่ออรรถประโยชน์,พื้นที่สีเขียวริ้วยาวตามแนวสาธารณูปการ,พื้นที่สีเขียวเพื่อเศรษฐกิจชุมชน,พื้นที่สีเขียวธรรมชาติ,พื้นที่สีเขียวรอการพัฒนา,price_min,จำนวนผู้เยี่ยมเยือนทั้งหมดปี 2565 (คน)
0,เหนือ,น่าน,3.44,1.40,1.02,0.00,6.11,0.0,2.239630e+06,"937,909"
1,ใต้,ระนอง,485.55,5.08,1.86,0.00,2.98,0.0,2.790000e+06,"347,341"
2,ตะวันออกเฉียงเหนือ,มุกดาหาร,2.56,2.07,3.28,1.66,13.41,0.0,1.955000e+06,"1,162,148"
3,ตะวันออกเฉียงเหนือ,สกลนคร,33.97,2.12,2.37,0.24,24.05,0.0,1.684882e+06,"1,130,822"
4,เหนือ,กำแพงเพชร,98.62,4.10,2.20,2.85,4.02,0.0,1.930000e+06,"565,913"
...,...,...,...,...,...,...,...,...,...,...
66,กลาง,สระบุรี,36.07,1.83,4.61,3.61,14.34,0.0,2.354306e+06,"2,833,922"
67,กลาง,สมุทรสงคราม,0.00,0.78,2.08,0.00,5.06,0.0,1.419476e+06,"3,134,191"
68,กลาง,นครปฐม,2.62,1.46,0.33,0.04,22.66,0.0,2.536374e+06,"2,104,471"
69,กลาง,กาญจนบุรี,32.79,3.48,6.01,0.00,32.88,0.0,2.315119e+06,"8,354,590"
70,กลาง,จันทบุรี,50.08,1.85,2.77,0.00,22.95,0.0,2.340000e+06,"998,545"

In [83]:
table1234.isnull().any()

b_region_namt                             False
จังหวัด                                   False
พื้นที่สีเขียวเพื่อการบริการสาธารณะ       False
พื้นที่สีเขียวเพื่ออรรถประโยชน์           False
พื้นที่สีเขียวริ้วยาวตามแนวสาธารณูปการ    False
พื้นที่สีเขียวเพื่อเศรษฐกิจชุมชน          False
พื้นที่สีเขียวธรรมชาติ                    False
พื้นที่สีเขียวรอการพัฒนา                  False
price_min                                 False
จำนวนผู้เยี่ยมเยือนทั้งหมดปี 2565 (คน)    False
dtype: bool

In [84]:
# save data
table1234.to_csv('DataProject.csv', index=False)