<a href="https://colab.research.google.com/github/Ninkrn/BasicProg_Dataviz65/blob/main/Project_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#เชื่อม google drive 
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [9]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/gdrive/MyDrive/BPDV65/')

!pwd #เช็ค paht ที่กำลังทำงานอยู่

/content/gdrive/MyDrive/BPDV65

In [10]:
!ls

 iris.txt			   opendata_train_line.csv
 myunit.csv			   opendata_train_line.gsheet
 myunit.xlsx			   opendata_train_station.csv
'opendata_eating_score (1).csv'    opendata_train_station.gsheet
 opendata_eating_score_clean.csv   opendata_unittype_clean.csv
 opendata_eating_score.csv	   opendata_unittype.csv
 opendata_living_score_clean.csv   opendata_unittype.gsheet
 opendata_living_score.csv	   opendata_volume_listing_rent.csv
 opendata_project_clean.csv	   Residental_clean.csv
 opendata_project.csv		   Residental_clean.gsheet
 opendata_project.gsheet	   thai.json

# Data Cleaning

##opendata_project table

In [11]:
#open CSV file 
import pandas as pd

In [12]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)
#project_id=เป็นkeyของfile ,propertytype_id=

(23434, 45)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,10/6/2020 14:36,NaN,4/12/2020 10:32,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,30/10/2017 15:38,1/1/2013 7:00,4/12/2020 10:49,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,5/5/2022 16:43,NaN,5/5/2022 17:30,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...

In [13]:
opendata_project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [ ]:
opendata_project = opendata_project[['row_number','project_id',  'name_en',  'propertytype_id',   #เลือกคอลัมน์ที่จะใช้
       'propertytype_name_en', 'price_min',
       'developer_id', 'developer_name_en',  'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
        'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security']]

##opendata_unittype table

In [14]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype.head(3)

(42625, 27)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,19/11/2021 18:00,19/11/2021 17:44,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,27/1/2022 14:30,27/1/2022 14:22,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14/1/2022 15:00,14/1/2022 14:40,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...

In [15]:
opendata_unittype.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype'],
      dtype='object')

##opendata_train station table

In [16]:
opendata_train_station = pd.read_csv('opendata_train_station.csv')
print(opendata_train_station.shape) 
opendata_train_station.head(3)

(318, 20)

,row_number,gid,line_no,railway,line_typt,line_type,status,line_th,line_en,station_th,station_en,latitude,longitude,prov_namt,prov_name,amp_namt,amp_name,tam_namt,tam_name,day
0,45,256,9,รถไฟฟ้า,เอ็มอาร์ทีเอ,MRT,อนาคต,สายสีเหลือง,Yellow Line,ศรีเทพา,Si Thepha,13.630859,100.620892,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,บางแก้ว,BANG KAEO,1/11/2022
1,29,216,8,รถไฟฟ้า,เอ็มอาร์ที,MRT,อนาคต,สายสีส้ม,Orange Line,น้อมเกล้า,Nom Klao,13.785996,100.689656,กรุงเทพมหานคร,BANGKOK,สะพานสูง,SAPHAN SUNG,สะพานสูง,SAPHAN SUNG,1/11/2022
2,109,232,8,รถไฟฟ้า,เอ็มอาร์ที,MRT,อนาคต,สายสีส้ม,Orange Line,ดินแดง,Din Daeng,13.768490,100.550541,กรุงเทพมหานคร,BANGKOK,พญาไท,PHAYA THAI,สามเสนใน,SAM SEN NAI,1/11/2022

In [17]:
opendata_train_station.columns

Index(['row_number', 'gid', 'line_no', 'railway', 'line_typt', 'line_type',
       'status', 'line_th', 'line_en', 'station_th', 'station_en', 'latitude',
       'longitude', 'prov_namt', 'prov_name', 'amp_namt', 'amp_name',
       'tam_namt', 'tam_name', 'day'],
      dtype='object')

##opendata_train line table

In [18]:
opendata_train_line = pd.read_csv('opendata_train_line.csv')
print(opendata_train_line.shape) 
opendata_train_line.head(3)

(49, 6)

,row_number,name,area,status,geometry,day
0,22,สายสีน้ำตาล,แคราย-ลำสาลี,อนาคต,LINESTRING (100.5155029670176 13.8599801163895...,1/11/2022
1,16,สายสีเขียวอ่อน,ตลิ่งชัน - บางหว้า,อนาคต,LINESTRING (100.4402600000001 13.7892089999999...,1/11/2022
2,18,สายสีแดงเข้ม,มหาชัย - รางโพธิ์,อนาคต,LINESTRING (100.2609130546652 13.5609441473892...,1/11/2022

In [22]:
opendata_train_line.columns

Index(['row_number', 'name', 'area', 'status', 'geometry', 'day'], dtype='object')

#Merge Table

## 1.รวมตารางprojectกับlinstation

In [25]:
#table_merge = opendata_project.merge(opendata_train_line, how ='left', left_on='row_number',right_on='row_number') 
print(table_merge.shape)

(23434, 50)

In [26]:
#table_merge

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,date_created,date_finish,date_updated,source,url_project,name,area,status,geometry,day
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000,developer_10678,"Winning Asset Plus Co., Ltd.",...,10/6/2020 14:36,NaN,4/12/2020 10:32,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...,NaN,NaN,NaN,NaN,NaN
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000,developer_7319,"Gift Asset Land Co.,Ltd.",...,30/10/2017 15:38,1/1/2013 7:00,4/12/2020 10:49,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...,NaN,NaN,NaN,NaN,NaN
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0,developer_10510,NaN,...,5/5/2022 16:43,NaN,5/5/2022 17:30,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...,NaN,NaN,NaN,NaN,NaN
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0,developer_10510,NaN,...,5/9/2016 15:32,2/1/1970 7:00,4/12/2020 10:45,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...,NaN,NaN,NaN,NaN,NaN
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,5/9/2019 11:49,2/1/1970 7:00,17/3/2021 12:00,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000,developer_1760,"AP (Thailand) Co,. Ltd",...,6/12/2017 13:10,2/1/1970 7:00,4/12/2020 10:42,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...,NaN,NaN,NaN,NaN,NaN
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000,developer_1793,"Areeya Property Co.,Ltd.",...,30/11/2017 11:12,2/1/1970 7:00,6/6/2022 16:30,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...,NaN,NaN,NaN,NaN,NaN
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000,developer_2217,"Wangthong Group Pub Co., Ltd.",...,2/3/2017 11:07,31/12/2014 7:00,4/12/2020 10:42,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...,NaN,NaN,NaN,NaN,NaN
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000,developer_1004,"Homeland Service Co., Ltd.",...,28/9/2015 9:00,1/1/2020 7:00,10/1/2022 15:00,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...,NaN,NaN,NaN,NaN,NaN
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000,developer_10510,NaN,...,5/7/2019 17:10,2/1/1970 7:00,4/12/2020 10:45,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...,NaN,NaN,NaN,NaN,NaN

In [27]:
#table_merge.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project',
       'name', 'area', 'status', 'geometry', 'day'],
      dtype='object')

## 1.รวมตารางmerge1กับtrainstation

In [28]:
#table_merge1 = table_merge.merge(opendata_train_station, how ='left', left_on='latitude',right_on='latitude') 
print(table_merge1.shape)

(23434, 69)

In [29]:
#table_merge1

,row_number_x,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,station_th,station_en,longitude_y,prov_namt,prov_name,amp_namt,amp_name,tam_namt,tam_name,day_y
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000,developer_1760,"AP (Thailand) Co,. Ltd",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000,developer_1793,"Areeya Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000,developer_1004,"Homeland Service Co., Ltd.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#table_merge1.columns

Index(['row_number_x', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude_x', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project',
       'name', 'area', 'status_x', 'geometry', 'day_x', 'row_number_y', 'gid',
       'line_no', 'railway', 'line_typt', 'line_type', 'status_y', 'line_th',
       'line_en', 'station_th', 'station_en', 'longitude_y', 'prov_namt',
       'prov_name', 'amp_namt', 'amp_name', 'tam_namt', 'tam_name', 'day_y'],
      dtype='object')